.Components {
  text-align: center;
  width: auto;
  color: whitesmoke;
}
.App {
  width: 100%;
}
.Home {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}